.camera-modal {
  .camera-wrapper {
    .camera {
      transform: rotateY(0.5turn);
    }
  }
  .camera-modal-body {
    @apply flex flex-col justify-center w-screen h-screen items-center;
    .skeleton {
      background-color: var(--theme-color);
    }
  }
  .MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
