.main-body {
  @apply w-full min-h-screen pb-5;
  .self-info {
    color: var(--theme-color);
    @apply font-bold text-lg text-center;
    .email {
      @apply text-2xl text-purple-500;
    }
  }
  .bg-music-wrapper {
    @apply fixed bottom-4 right-4 hover:bottom-6 rounded-full transition-all h-[10vh] bg-[--main-bg-color] aspect-square;
    color: var(--secondary-theme-color);
    .bg {
      @apply w-full h-full object-cover rounded-full;
      animation: rotate 60s linear infinite;

      &.bg-off {
        animation-play-state: paused;
        filter: opacity(0.5);
      }
      &.bg-on {
        animation-play-state: running;
      }
      &:hover {
        filter: none;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
